.form-label {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 0.4rem;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.large-input {
  height: 42px;
  box-shadow: 0px 1px 4px 0px rgba(74, 79, 196, 0.2509803922) inset;
}
.small-input {
  height: 36px;
}
.error {
  border-color: var(--lgi-red) !important;
  box-shadow: 0px 0px 0px 0px var(--lgi-red) inset !important;
}
.error-message {
  font-size: 0.7rem;
  color: var(--lgi-red);
  padding-left: 5px;
}

.custom-input-container .input-form-label {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  align-items: flex-start;
  display: flex;
  color: gray;
}
